<Config>
  <PostgresUser>postgres</PostgresUser>
  <PostgresPassword>postgres</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>postgres</PostgresHost>
  <PostgresMainDb>readarr</PostgresMainDb>
  <PostgresLogDb>readarr_logs</PostgresLogDb>
  <PostgresCacheDb>readarr_cache</PostgresCacheDb>
  <LogLevel>info</LogLevel>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <Port>8787</Port>
  <SslPort>6868</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>develop</Branch>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <InstanceName>Readarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
</Config>