<Config>
  <PostgresUser>postgres</PostgresUser>
  <PostgresPassword>postgres</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>postgres</PostgresHost>
  <PostgresMainDb>prowlarr</PostgresMainDb>
  <PostgresLogDb>prowlarr_logs</PostgresLogDb>
  <LogLevel>info</LogLevel>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <Port>9696</Port>
  <SslPort>6969</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <Branch>master</Branch>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <InstanceName>Prowlarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
</Config>