<Config>
  <PostgresUser>postgres</PostgresUser>
  <PostgresPassword>postgres</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>postgres</PostgresHost>
  <PostgresMainDb>sonarr</PostgresMainDb>
  <PostgresLogDb>sonarr_logs</PostgresLogDb>
  <LogLevel>info</LogLevel>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <Port>8989</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <AuthenticationRequired>DisabledForLocalAddresses</AuthenticationRequired>
  <Branch>main</Branch>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <InstanceName>Sonarr</InstanceName>
  <UpdateMechanism>Docker</UpdateMechanism>
</Config>